:root {
    --backgroundColour: #171717;
    --white: rgb(210, 210, 210);
}
.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    // overflow: auto;
    overflow-y: overlay;
    overflow-x: hidden;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s ease;
    h2{
        padding: 2rem;
    }
    background: linear-gradient(to top, #0e1722, #080d13);
}
.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img{
        width: 30%;
        aspect-ratio: 3/3;
        object-fit: cover;
    }
    // &:hover{
    //     background: rgb(30, 30, 30);
    //     .song-description h3, .song-description h4{
    //         color: white;
    //     }
    // }
    border-top: 1px solid rgba(255, 255, 255,0.1);
    border-bottom: 1px solid rgba(255, 255, 255,0.1);
    margin-top: -1px;
    scale: 1;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}
.song-description{
    padding-left: 1rem;
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1rem;
        color: rgb(166, 166, 166);
    }
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent; 
    font-family: 'Lato', sans-serif;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}
.selected{
    transition: all 0.5s ease-in-out;
    background: rgb(255, 255, 255);
    .song-description h3, .song-description h4{
        color: #171717;
    }
    scale: 1.1;
    position: relative;
    z-index: 10;
    // filter: drop-shadow(0px 0px 3px rgb(188, 187, 187));
}
.active-library{
    transform: translateX(0%);
    opacity: 1;
}
@media screen and (max-width:768px){
    .library{
        width: 100%;
    }
}
.noHover{
    pointer-events: none;
}